<template>
  <v-container>
    <h1>Login</h1>

    <UserAuthForm buttonText="Login" :submitForm="loginUser" />
  </v-container>
</template>

<script>
  import UserAuthForm from '../../src/components/UserAuthForm'

  export default {
    name: 'LoginT',
    components: {
      UserAuthForm
    },
    methods: {
      loginUser(loginInfo){
        this.$auth.loginWith('local',{
          data: loginInfo
        })
        alert('You pressed a button')
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
