<template>
  <section class="bg">
    <img src='@/src/images/med.png' alt="opswerks logo" class="position">
  </section>
</template>


<script>
import HeaderLogin from '../../src/components/HeaderLogin.vue'

export default {
  name: 'packages',
  components: {
    HeaderLogin
  },
  middleware: 'auth-guard'
}
</script>

<style scoped>

.bg {
  background-image: url('../../src/images/hmo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}
.position {
  position: absolute;
  top: 50%;
  left: 20%;
  height: auto;
  width: 30%;
  transform: translate(-50%, -50%)
  }
</style>
