<template>
  <v-container>
    <h1>Register</h1>

    <UserAuthForm buttonText="Register" :submitForm="registerUser" hasName="true" />
  </v-container>
</template>

<script>
  import UserAuthForm from '../../src/components/UserAuthForm'

  export default {
    name: 'Register',
    components: {
      UserAuthForm
    },
    methods: {
      async registerUser(registrationInfo){
        await this.$axios.post('/users', registrationInfo)
        this.$auth.loginWith('local', {
          data: registrationInfo
        })
      }
    },
    middleware: 'auth-guard'
  }
</script>

<style lang="scss" scoped>
</style>
