<template>
  <div id="app">
    <Login/>
  </div>
</template>

<script>
import Login from './components/Login.vue'
import Packages from './components/Packages.vue'

export default {
  name: 'hmo',
  components: {
    Login,
    Packages
  }
}
</script>

<style>
#app {
}
</style>
